* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    margin-top: 10px;
    background-color: rgb(75, 73, 73);
    color: rgb(252, 245, 245);
    height: 20px;
    width: 70px;
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1080px;
    margin: 0 auto;
    row-gap: 10px;
    column-gap: 20px;
}